@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img {
    position: relative;
    background: url(../public/img/HeaderIMG.jpg) center/cover no-repeat;  
}

.bg-img-2 {
    position: relative;
    background: url(../public/img/CentralAv/CostadoCAv.jpg) center/cover no-repeat;  
}
.bg-img-3 {
    position: relative;
    background: url(../public/img/SanNicolas/frenteSanNicolas.jpg) center/cover no-repeat;  
}


@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');



